{% extends "base.html" %}

{% block content %}
<h1>Gallery</h1>

<div class="gallery-container">
    {% if outfits %}
        {% for outfit in outfits %}
         <a href="/delete/{{ outfit.id }}" class="delete-btn">Delete</a>
         <a href="/edit/{{ outfit.id }}" class="edit-btn">Edit</a>
            <div class="card">
                <h3>{{ outfit.name }}</h3>
                <p class="category">{{ outfit.category }}</p>
                <p>{{ outfit.description }}</p>
                <img src="{{ outfit.image_url }}" alt="Outfit image">
            </div>
        {% endfor %}
    {% else %}
        <p>No outfits available.</p>
    {% endif %}
</div>

{% endblock %}